<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Microposts</title>
  </head>
  <body>
    <h1>Microposts</h1>
    <p>
      Check out microposts here!
    </p>
  </body>
</html>
