<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <style>
                p{font-family: lucida sans; font-size: 18px; line-height: 20px; margin-left: 40px; color:#170146; float: right;}

img{float: left; padding-right: 25px;}

body{background-color: #B6B8BA;}

div#main {position: static;width: 2000px; height: 1000px;
        margin-left: auto; margin-right: auto;}
        
article{position: relative;width: 900px; height: 750px; overflow: hidden; margin-left: auto; margin-right: auto;}

div#game{position: absolute; background-color: red; height: 200px; width: 200px; top: 450px; left: 500px; border: 3px solid red; border-radius: 100%;}

div#dice{position: absolute; background-color: orange; height: 200px; width: 200px; top: 175px; left: 650px; border: 3px solid orange; border-radius: 100%;}

div#myvision{position: absolute; background-color: blue;height: 200px; width: 200px; top: 175px; left: 50px; border: 3px solid blue; border-radius: 100%;}

div#myapplication{position: absolute; background-color: green; height: 200px; width: 200px; top: 175px; left: 350px;border: 3px solid green; border-radius: 100%;}

div#chicago{position: absolute; background-color: purple; height: 200px; width: 200px; top: 450px; left: 200px; border: 3px solid purple; border-radius: 100%;}

h1{color:#AF0408; letter-spacing:5px; text-shadow: 8px 8px 20px #000000; font-size: 40px; font-family: Edwardian Script ITC; text-align: left;}

h2{color: #AF0408; font-size: 70px; font-family: Edwardian Script ITC; text-align: center; letter-spacing: 5px;}

.circle{position: relative; width: 100%; height: 0; color: white; font-family: lucida sans; font-size: 30px; text-align: center; line-height: 5;}
            </style>
        </head>
        <body>
            <div id="main">
                <article>
                    <h2>Welcome</h2>
               
                   <a href="a6.html" target= "_blank"><div id="myvision" class="circle">
                    My Story
                   </div></a>
               
                    <a href="interactive_application.html" target = "_blank"><div id="myapplication" class="circle">
                        Apply!!
                  </div></a>
               
                    <a href="a8/a8.html" target= "_blank"><div id="dice" class="circle">
                        Play Dice!
                    </div></a>

                    <a href="a5.html" target= "_blank"><div id="chicago" class="circle">
                        Chicago!
                    </div></a>
            
                    <a href="psr/psr.html" target= "_blank"><div id="game" class="circle">
                        P.S.R.!
                    </div></a>
                </article>
            </div>
    </body>
    </html>